/* -------------------------------------------- */
/*                                              */
/* Shards                                       */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.shards {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--shard-color);
  z-index: 1;

  &::before,
  &::after {
    content: " ";
    display: block;
    width: 150%;
    aspect-ratio: 1/1;
    background: var(--shard-color);
    background: radial-gradient(
        circle,
        transparent 0,
        var(--shard-color) 80%,
        var(--shard-color) 100%
      ),
      url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.010.1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(var(--rotate-1))
      skew(var(--skewY-1), var(--skewX-1));
  }

  &::after {
    width: 100%;
    transform: rotate(var(--rotate-2)) skew(var(--skewY-2), var(--skewX-2));
  }

  .shards_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: var(--size-4);
    background: var(--content-background-color);
    z-index: 99;
    transform: skew(358deg, 0deg);
    overflow: hidden;

    @media (--min-breakpoint-md) {
      left: var(--size-9);
      transform: skew(355deg, 0deg);
    }
  }
}

.video-container {
  position: relative;
  left: -100px;
  width: calc(100% + 100px);
  height: 100%;
  overflow: hidden;
  transform: skew(-355deg);
}

.shards_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
  filter: brightness(0.2);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: color;
  opacity: 0.9;
  z-index: 2;
  pointer-events: none;
}
