/* -------------------------------------------- */
/*                                              */
/* PageHeader                                   */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.page-header {
  background: var(--color-ink);
  padding: var(--size-6) 0;
  border-bottom: 1px solid var(--color-abyss);

  .page-header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-8);
    position: relative;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: var(--maximum-page-width);
    margin: 0 auto;
  }
}
