/* -------------------------------------------- */
/*                                              */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.flyout {
  position: relative;
  z-index: 2;

  .flyout-overlay {
    display: none;
    background: var(--color-ink-66);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity var(--transition-1);
    z-index: 1;
  }

  &.flyout--active {
    .flyout-overlay {
      display: block;
      opacity: 1;
    }
  }
}

.flyout-content {
  border-left: 1px solid var(--color-abyss);
  padding: 180px var(--size-9) var(--size-12) var(--size-9);
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 280px;
  transition: all var(--transition-1);
  z-index: 2;
  background:
    radial-gradient(at 19.8% 78.3%, #0a1520 0px, transparent 50%),
    radial-gradient(at 81.8% 41.5%, #0a1520 0px, transparent 50%),
    radial-gradient(at 73% 69.2%, #456882 0px, transparent 50%),
    radial-gradient(at 51.5% 51.5%, #df00a8 0px, transparent 50%),
    radial-gradient(at 34.6% 33.3%, #456882 0px, transparent 50%) #000000;
  mix-blend-mode: normal;

  .avatar {
    position: absolute;
  }

  ul {
    width: fit-content;
  }
}

.flyout-title {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  position: absolute;
  left: -9999px;
}

.flyout-content {
  right: -100%;
  top: 0;
}

.flyout--active .flyout-content {
  right: 0;
}

.flyout-trigger {
  position: fixed;
  top: 25px;
  right: 30px;
}

/* -- Elements -- */

.flyout__close {
  position: absolute;
  top: 25px;
  right: 30px;
}

@media (--min-breakpoint-sm) {
  .flyout {
    position: static;
    width: auto;
    background: none;

    .flyout-overlay {
      display: none;
    }
  }

  .flyout-content {
    border: none;
    position: static;
    height: auto;
    width: auto;
    max-width: none;
    padding: 0 0 0 0;
    background: none;
    display: flex;
  }

  .flyout--left .flyout-trigger,
  .flyout__close {
    display: none;
  }
}
