/* -------------------------------------------- */
/*                                              */
/* Logo                                         */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.logo {
  display: flex;
  align-items: center;
  gap: var(--size-4);
  position: relative;
  font-family: var(--font-family-body);
  text-decoration: none;
  letter-spacing: -2px;
  max-width: 100%;

  img {
    max-width: 100%;
  }

  span,
  h1 {
    font-size: 30px;
    font-weight: 450;

    &:nth-child(1) {
      color: var(--color-steel);
    }

    &:nth-child(2) {
      color: var(--color-orchid);
    }

    &:nth-child(3) {
      color: var(--color-steel);
      font-size: 50px;
      margin-left: -1px;
      line-height: 0;
    }

    @media (--min-breakpoint-md) {
      span,
      h1 {
        font-size: 40px;
      }
    }
  }

  &.logo--wordmark {
    display: block;
    background: var(--color-ink);
    height: 80px;
    line-height: 80px;
    aspect-ratio: 1 /1;
    text-align: center;
    border-radius: 50%;
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 60px;
      height: 5px;
      background: var(--color-ink);
      position: absolute;
      top: 15px;
      right: 10px;
    }

    span,
    h1 {
      font-size: 60px;
      font-weight: 600;

      &:nth-child(1) {
        fill: var(--color-steel);
      }

      &:nth-child(2) {
        fill: var(--color-orchid);
      }
    }
  }
}

.logo--xs {
  width: 42px;
  height: 33px;
}

.logo--sm {
  width: 64px;
  height: 49px;
}

.logo--md {
  width: 96px;
  height: 73px;
}

.logo--lg {
  width: 128px;
  height: 98px;
}

.logo--xl {
  width: 160px;
  height: 122px;
}
