/* -------------------------------------------- */
/*                                              */
/* Logo                          */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-4);
  position: relative;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    .t {
      fill: var(--color-steel);
    }

    .d {
      fill: var(--color-orchid);
    }
  }
}

.logo--xs {
  width: 42px;
  height: 33px;
}

.logo--sm {
  width: 64px;
  height: 49px;
}

.logo--md {
  width: 96px;
  height: 73px;
}

.logo--lg {
  width: 128px;
  height: 98px;
}

.logo--xl {
  width: 160px;
  height: 122px;
}
