/* -------------------------------------------- */
/*                                              */
/* PageFooter                                   */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.page-footer {
  padding: var(--size-6);
}
