/* -------------------------------------------- */
/*                                              */
/* Button                                       */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.button {
  --primary-button-background-color: var(--color-frost);
  --primary-button-background-color-hover: var(--color-neptune);
  --primary-button-border-color: var(--color-frost);
  --primary-button-border-color-hover: var(--color-neptune);
  --primary-button-color: var(--color-ink);
  --primary-button-color-hover: var(--color-ink);

  --secondary-button-background-color: transparent;
  --secondary-button-background-color--hover: transparent;
  --secondary-button-border-color: var(--color-frost);
  --secondary-button-border-color-hover: var(--color-neptune);
  --secondary-button-color: var(--color-frost);
  --secondary-button-color-hover: var(--color-neptune);

  --tertiary-button-color: var(--color-frost);
  --tertiary-button-color-hover: var(--color-frost);

  --button-underline-offset: var(--size-3);

  all: initial;
  align-items: center;
  appearance: none;
  border-radius: var(--radius-jumbo);
  border: 2px solid transparent;
  display: inline-flex;
  font-family: var(--font-family-body);
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0 var(--size-4);
  text-align: center;
  text-wrap: nowrap;
  transition: all var(--transition-0);
}

/* ----- Hover ----- */

.button:hover {
  cursor: pointer;
  text-decoration: none;
}

/* ----- Focus ----- */

.button:focus-visible {
  outline: 2px solid var(--brand-19);
  outline-offset: 2px;
}

/* ----- Disabled ----- */

.button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.button[disabled]:focus-visible {
  outline: none;
  outline-offset: 0;
}

/* ----- Disabled ----- */

.button--stretch {
  .button__hit-area {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* -------------------------------------------- */
/* Modifiers                                    */
/* -------------------------------------------- */

/* ----- iconOnly ----- */

.button--icon-only .button__text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ----- Tier ----- */

.button--primary {
  background: var(--primary-button-background-color);
  border-color: var(--primary-button-border-color);
  color: var(--primary-button-color);

  svg,
  svg path {
    fill: var(--primary-button-color);
    stroke: var(--primary-button-color);
  }

  &:is(:hover, :focus-visible) {
    background: var(--primary-button-background-color-hover);
    border-color: var(--primary-button-border-color-hover);
    color: var(--primary-button-color-hover);

    svg,
    svg path {
      fill: var(--primary-button-color-hover);
      stroke: var(--primary-button-color-hover);
    }
  }
}

.button--secondary {
  background: transparent;
  border-color: var(--secondary-button-border-color);
  color: var(--secondary-button-color);

  svg,
  svg path {
    fill: var(--secondary-button-color-hover);
    stroke: var(--secondary-button-color-hover);
  }

  &:is(:hover, :focus-visible) {
    border-color: var(--secondary-button-color-hover);
    color: var(--secondary-button-color-hover);

    svg,
    svg path {
      fill: var(--secondary-button-color-hover);
      stroke: var(--secondary-button-color-hover);
    }
  }
}

.button--tertiary,
:global(.scheme--light) .button--tertiary {
  background: transparent;
  border-color: transparent;
  color: var(--tertiary-button-color);
  padding: 0;

  .button__text {
    text-decoration: underline;
    text-underline-offset: var(--button-underline-offset);
    text-decoration-color: transparent;
    transition: text-decoration-color var(--transition-1);
  }

  svg,
  svg path {
    fill: var(--tertiary-button-color-hover);
    stroke: var(--tertiary-button-color-hover);
  }

  &:is(:hover, :focus-visible) {
    border-color: transparent;
    color: var(--tertiary-button-color-hover);

    .button__text {
      text-decoration-color: var(--tertiary-button-color);
    }

    svg,
    svg path {
      fill: var(--tertiary-button-color-hover);
      stroke: var(--tertiary-button-color-hover);
    }
  }
}

/* ----- Appearance ----- */

.button--body-1 {
  font-size: clamp(
    var(--font-size-handheld-body-1),
    0.8864rem + 0.5682vw,
    var(--font-size-body-1)
  );
  line-height: var(--line-height-handheld-body-3);
  padding: 0 var(--size-5);
  min-height: var(--size-8);

  @media (--min-breakpoint-sm) {
    line-height: var(--line-height-body-1);
    padding: 0 var(--size-6);
    min-height: var(--size-9);
  }

  &.button--tertiary {
    padding: 0;
  }
}

.button--body-2 {
  font-size: clamp(
    var(--font-size-handheld-body-3),
    0.8182rem + 0.2841vw,
    var(--font-size-body-2)
  );
  line-height: var(--line-height-handheld-body-2);
  padding: 0 var(--size-4);
  min-height: var(--size-7);

  @media (--min-breakpoint-sm) {
    line-height: var(--line-height-body-2);
    padding: 0 var(--size-5);
    min-height: var(--size-8);
  }

  &.button--tertiary {
    padding: 0;
  }
}

.button--body-3 {
  font-size: clamp(
    var(--font-size-handheld-body-3),
    0.6932rem + 0.2841vw,
    var(--font-size-body-3)
  );
  line-height: var(--line-height-handheld-body-3);
  padding: 0 var(--size-3);
  min-height: var(--size-6);

  @media (--min-breakpoint-sm) {
    line-height: var(--line-height-body-3);
    padding: 0 var(--size-4);
    min-height: var(--size-7);
  }

  &.button--tertiary {
    padding: 0;
  }
}

/* -------------------------------------------- */
/* Elements                                     */
/* -------------------------------------------- */

/* ----- Icon ----- */

.button__icon {
  align-items: center;
  display: flex;
  height: auto;
  position: relative;
}

/* ----- ButtonGroup ----- */

.button-group {
  display: flex;
  gap: var(--size-5);
}

.button-group--left {
  justify-content: flex-start;
}

.button-group--center {
  justify-content: center;
}

.button-group--right {
  justify-content: flex-end;
}

.button-group--justify {
  justify-content: space-between;
}
