/* -------------------------------------------- */
/* Dimension                                   */
/* -------------------------------------------- */

/* ----- Breakpoints ----- */

/*

For media queries - breakpoints are managed
via the postCSS plugin. You can find the custom media
queries declarations in the customMedia.css file.
To use them in your component styles, simply use them
as you would any other media query, but with the CSS
custom variable syntax like so:

@media (--tablet) {}
@media (--desktop) {}

*/

:root {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;

  /* ----- Size ----- */

  --size-0: 0; /* 0px */
  --size-1: 0.0625rem; /* 1px */
  --size-2: 0.125rem; /* 2px */
  --size-3: 0.25rem; /* 4px */
  --size-4: 0.5rem; /* 8px */
  --size-5: 1rem; /* 16px */
  --size-6: 1.5rem; /* 24px */
  --size-7: 2rem; /* 32px */
  --size-8: 2.5rem; /* 40px */
  --size-9: 3rem; /* 48px */
  --size-10: 3.5rem; /* 56px */
  --size-11: 4rem; /* 64px */
  --size-12: 4.5rem; /* 72px */
  --size-13: 5rem; /* 80px */
  --size-14: 5.5rem; /* 88px */
  --size-15: 6rem; /* 96px */
  --size-16: 6.5rem; /* 104px */
  --size-17: 7rem; /* 112px */
  --size-18: 7.5rem; /* 120px */
  --size-19: 8rem; /* 128px */
  --size-20: 8.5rem; /* 136px */
  --size-21: 9rem; /* 144px */
  --size-22: 9.5rem; /* 152px */
  --size-23: 10rem; /* 160px */
  --size-24: 10.5rem; /* 168px */
  --size-25: 11rem; /* 176px */

  /* ----- Radius ----- */

  --radius-none: 0;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-jumbo: 7.5rem;
  --radius-full: 100rem;
}
