/* -------------------------------------------- */
/*                                              */
/* Conversation                          */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.conversation {
  position: realtive;

  .conversation__item {
    opacity: 0;
    transition: opacity var(--transition-2);
    visibility: hidden;
  }

  .conversation__item--active {
    position: static;
    opacity: 1;
    visibility: visible;
  }
}
