/* -------------------------------------------- */
/*                                              */
/* Modal                                        */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background: var(--brand-12-66);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.modal {
  background: var(--brand-4);
  border-radius: var(--radius-md);
  margin: var(--size-6);
  padding: var(--size-6) var(--size-4) var(--size-4) var(--size-4);
  position: relative;
  width: calc(100vw - var(--size-8));
  max-width: var(--breakpoint-xs);

  @media (--min-breakpoint-md) {
    padding: var(--size-8) var(--size-6) var(--size-6) var(--size-6);
  }
}

.modal-close {
  position: absolute;
  top: var(--size-4);
  right: var(--size-5);
}

.modal__content {
  height: 100%;
  overflow-y: scroll;
}

/* -- Modifiers -- */

.modal--xs {
  padding: var(--size-4);
  max-width: var(--breakpoint-xs);

  @media (--min-breakpoint-md) {
    padding: var(--size-6);
  }
}

.modal--sm {
  padding: var(--size-4);
  max-width: var(--breakpoint-sm);

  @media (--min-breakpoint-md) {
    padding: var(--size-6);
  }
}

.modal--md {
  padding: var(--size-8);
  height: calc(100vh - var(--size-6));
  max-width: var(--breakpoint-md);

  @media (--min-breakpoint-md) {
    padding: var(--size-10);
  }
}

.modal--lg {
  padding: var(--size-8);
  height: calc(100vh - var(--size-6));
  max-width: var(--breakpoint-lg);

  @media (--min-breakpoint-md) {
    padding: var(--size-10);
  }
}

.modal--xl {
  padding: var(--size-8);
  height: calc(100vh - var(--size-6));
  max-width: var(--breakpoint-xl);

  @media (--min-breakpoint-md) {
    padding: var(--size-10);
  }
}
