/* -------------------------------------------- */
/*                                              */
/* SiteFooter                                   */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.site-footer {
  padding: var(--size-5);
  border-top: 1px solid var(--color-steel-33);
  text-align: center;

  p {
    font-family: var(--font-family-body);
    font-size: var(--font-size-handheld-body-3);
    line-height: var(--line-height-body-3);
    margin-bottom: 0;
    color: var(--color-frost);
    text-align: center;

    @media (--min-breakpoint-sm) {
      font-size: var(--font-size-body-3);
      text-align: right;
    }
  }
}
