/* -------------------------------------------- */
/*                                              */
/* SiteFooter                                   */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.site-footer {
  padding: var(--size-5);
  border-top: 1px solid var(--color-steel-33);
  text-align: center;

  .site-footer-inner {
    display: flex;
    gap: 0 var(--size-6);
    justify-content: center;
    padding: 0 var(--size-6);

    p {
      font-family: var(--font-family-body);
      font-size: var(--font-size-handheld-body-3);
      line-height: var(--line-height-body-3);
      margin-bottom: 0;
      color: var(--color-frost);
      text-align: center;
    }

    @media (--min-breakpoint-sm) {
      justify-content: flex-end;

      p {
        font-size: var(--font-size-body-3);
        text-align: right;
      }
    }
  }
}
