/* -------------------------------------------- */
/*                                              */
/* Timer                                        */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.timer {
  font-family: var(--font-family-heading);
  font-weight: bold;
}

.timer--warning {
  color: var(--brand-41);
  font-weight: bold;
}

/* -------------------------------------------- */
/* Appearance                                   */
/* -------------------------------------------- */

.timer--heading-1 {
  font-size: clamp(
    var(--font-size-handheld-heading-1),
    2.3182rem + 3.4091vw,
    var(--font-size-heading-1)
  );
  font-weight: bold;
  line-height: var(--line-height-heading-1);
}

.timer--heading-2 {
  font-size: clamp(
    var(--font-size-handheld-heading-2),
    1.5682rem + 3.4091vw,
    var(--font-size-heading-2)
  );
  line-height: var(--line-height-heading-2);
}

.timer--heading-3 {
  font-size: clamp(
    var(--font-size-handheld-heading-3),
    1rem + 3.125vw,
    var(--font-size-heading-3)
  );
  line-height: var(--line-height-heading-3);
}

.timer--heading-4 {
  font-size: clamp(
    var(--font-size-handheld-heading-4),
    0.9773rem + 1.9886vw,
    var(--font-size-heading-4)
  );
  line-height: var(--line-height-heading-4);
}

.timer--heading-5 {
  font-size: clamp(
    var(--font-size-handheld-heading-5),
    0.8977rem + 1.1364vw,
    var(--font-size-heading-5)
  );
  line-height: var(--line-height-heading-5);
}

.timer--heading-6 {
  font-size: clamp(
    var(--font-size-handheld-heading-6),
    0.7727rem + 1.1364vw,
    var(--font-size-heading-6)
  );
  line-height: var(--line-height-heading-6);
}

.timer--body-1 {
  font-family: var(--font-family-body);
  font-size: clamp(
    var(--font-size-handheld-body-1),
    0.8864rem + 0.5682vw,
    var(--font-size-body-1)
  );
  line-height: var(--line-height-body-1);
}

.timer--body-2 {
  font-family: var(--font-family-body);
  font-size: clamp(
    var(--font-size-handheld-body-2),
    0.8182rem + 0.2841vw,
    var(--font-size-body-2)
  );
  line-height: var(--line-height-body-2);
}

.timer--body-3 {
  font-family: var(--font-family-body);
  font-size: clamp(
    var(--font-size-handheld-body-3),
    0.6932rem + 0.2841vw,
    var(--font-size-body-3)
  );
  line-height: var(--line-height-body-3);
}

/* -------------------------------------------- */
/* Alignment                                    */
/* -------------------------------------------- */

.timer--center {
  text-align: center;
}

.timer--left {
  text-align: left;
}

.timer--right {
  text-align: right;
}
