/* -------------------------------------------- */
/*                                              */
/* PageSection                                  */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.page-section {
  background-repeat: no-repeat;
  position: relative;
  padding: var(--size-8) 0;

  @media (--min-breakpoint-md) {
    padding: var(--size-20) 0;
  }
}

/* -------------------------------------------- */
/* Modifiers                                    */
/* -------------------------------------------- */

/* ----- Background images position----- */

.page-section-backgroundPosition--topLeft {
  background-position: top left;
}

.page-section-backgroundPosition--topRight {
  background-position: top right;
}

.page-section-backgroundPosition--bottomRight {
  background-position: bottom right;
}

.page-section-backgroundPosition--bottomLeft {
  background-position: bottom left;
}

.page-section-backgroundPosition--center {
  background-position: center;
}

.page-backgroundPosition--cover {
  background-position: center;
  background-size: cover;
}

/* ----- Screen size----- */

.page-section--halfscreen {
  width: 100%;
  min-height: 50vh;
}

.page-section--fullscreen {
  width: 100%;
  min-height: 100vh;
}

.page-section--fixedfullscreen {
  width: 100%;
  height: 100vh;
}
